<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div class="btn" id="submit">提交</div>
    <div class="btn" style="--i: 1">点赞</div>
    <div class="btn" style="--i: 2">投币</div>
    <div class="btn" style="--i: 3">收藏</div>
    <div class="btn" style="--i: 4">关注</div>
    <div class="btn" style="--i: 5">分享</div>
</body>

</html>