<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>
      <center>
        <cite><a href="https://www.w3school.com.cn/">w3school</a></cite>
      </center>
    </h1>
    <div>
      <header>这是头部</header>
      <nav>这是导航栏</nav>
      <main>
        这是main标签
        <article>这是article标签</article>
        <aside>这是aside标签</aside>
        <mark>这是Mark标签</mark>
      </main>

      <section>
        <meter value="3" min="0" max="10">十分之三</meter>
        <meter value="0.6">60%</meter>
      </section>

      <section>
        <progress>这是进度条</progress>
        <progress value="22" max="100"></progress>
      </section>

      <address>
        Written by <a href="mailto:webmaster@example.com">Donald Duck</a>.<br />
        Visit us at:<br />
        Example.com<br />
        Box 564, Disneyland<br />
        USA
      </address>

      <section>
        <blockquote>
          Here is a long quotation here is a long quotation here is a long quotation here is a long quotation here is a
          long quotation here is a long quotation here is a long quotation here is a long quotation here is a long
          quotation.
        </blockquote>

        <blockquote>
          <p>here is a long quotation here is a long quotation</p>
        </blockquote>
      </section>

      <section>
        <table border="1" width="100%">
          <!-- <col align="left" />
          <col align="left" />
          <col align="right" /> -->
          <colgroup span="2" align="left"></colgroup>
          <colgroup align="right" style="color: #0000ff"></colgroup>
          <caption>
            这是表格的标题
          </caption>
          <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Price</th>
          </tr>
          <tr>
            <td>3476896</td>
            <td>My first HTML</td>
            <td>$53</td>
          </tr>
        </table>
      </section>

      <center>这是center标签: 水平居中</center>

      <section>
        <cite>这是cite标签</cite>
        <cite>这是cite标签</cite>
      </section>

      <big>这是big标签</big>
      <small>这是small标签</small>

      <section>
        <h4>这是datalist标签</h4>
        <input id="myCar" list="cars" />
        <datalist id="cars">
          <option value="BMW"></option>
          <option value="Ford"></option>
          <option value="Volvo"></option>
        </datalist>
      </section>

      <section>
        <h4><a href="https://www.image-map.net/">这是map&area标签</a></h4>

        <p>请点击图像上的星球，把它们放大。</p>

        <img src="/i/eg_planets.jpg" border="0" usemap="#planetmap" alt="Planets" />

        <map name="planetmap" id="planetmap">
          <area shape="circle" coords="180,139,14" href="/example/html/venus.html" target="_blank" alt="Venus" />

          <area shape="circle" coords="129,161,10" href="/example/html/mercur.html" target="_blank" alt="Mercury" />

          <area shape="rect" coords="0,0,110,260" href="/example/html/sun.html" target="_blank" alt="Sun" />
        </map>

        <p>
          <b>注释：</b>img 元素中的 "usemap" 属性引用 map 元素中的 "id" 或 "name" 属性（根据浏览器），所以我们同时向 map
          元素添加了 "id" 和 "name" 属性。
        </p>
      </section>

      <section>
        <h4>这是fieldset标签</h4>
        <form>
          <fieldset>
            <legend>health information</legend>
            height: <input type="text" /> weight: <input type="text" />
          </fieldset>
        </form>
      </section>

      <section cite="https://baidu.com">
        <h4>这是keygen标签</h4>
        <form action="demo_keygen.asp" method="get">
          Username: <input type="text" name="usr_name" /> Encryption: <keygen name="security" />
          <input type="submit" />
        </form>
      </section>

      <section>这段文本包含 <sup>上标</sup> <sub>下标</sub></section>

      <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>

      <footer>这是底部</footer>
    </div>
  </body>
</html>
